<!DOCTYPE html>
<html>

<head>
    <title>E-TECH-orders</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
</head>

<body class="body">
    <header class="center">
        <img alt="logo" src="/images/logo.png" height="150px" width="200px">
        <nav class="navbar">
            <a href="/loggedIn_home/<%= userIdentifier %>">HOME</a>
            <a href="/loggedIn_shop/<%= userIdentifier %>">SHOP</a>
            <a href="/loggedIn_contacts/<%= userIdentifier %>">CONTACTS</a>
            <a href="/loggedIn_track/<%= userIdentifier %>">TRACK</a>
        </nav>

        <form action="/loggedIn_search/<%= userIdentifier %>" method="GET">
          <div class="field-group" style="margin-top: 18px;">
              <input type="search" placeholder="Search here" name="query">
              <button type="submit" style="border: none; background-color: white;">
              <div class="searchicon">
                  <i class='bx bx-search'></i>
                  </div>
              </button>
          </div>
      </form>

      <button class="btnCart-popup" onclick="window.location.href = '/loggedIn_addtocart/<%= userIdentifier %>';">
        <div class="carticon">
            <i class='bx bx-cart'></i>
        </div>
    </button>
        <button class="btnLogin-popup" onclick="toggleDropDown()">
            <div class="usericon">
                <i class='bx bx-user-circle'></i>
                <p><%= username %></p>
            </div>
        </button>
    </header>
    <div class="drop-down" id="drop-down" style="margin-top: -70px; margin-left: 900px;">
      <a href="/loggedIn_orders/<%= userIdentifier %>">
        <div class="view-profile">
          <p>My Purchase <i class='bx bx-user'></i></p>
        </div>
      </a>
      <a href="/logouthome">
        <div class="logout">
          <p>Logout <i class='bx bx-power-off'></i></p>
        </div>
      </a>
    </div>





    <div class="successRemove" style="display: none; position: fixed;">
      <i class='bx bx-check-circle'></i>
      <p>The item was removed.</p>
    </div>

    <div class="headcap">
        <a href="#" onclick="history.back()">
            <i class='bx bx-left-arrow-alt'></i>
        </a>
        <p>My Purchases</p>
    </div>
    <hr>
    <br>
    <div class="hederer">
      <p style="margin-left: 150px;">Order ID</p>
      <p style="margin-left: 90px;">|</p>
      <p style="margin-left: 60px;">Status</p>
      <p style="margin-left: 60px;">|</p>
      <p style="margin-left: 140px;">Total</p>

    </div>


    
    <% if (orderedItems && orderedItems.length > 0) { %>
      <% for (let i = 0; i < orderedItems.length; i++) { %>
        <div class="orderItemscontainer" id="orderedItemContainer_<%= orderedItems[i]._id %>" style="width: 900px;">
          <div class="orderedItems" style="display: flex; align-items: center;">
            <p class="starlalu" style="margin-left: 30px;"><%= orderedItems[i]._id %></p>
            <p class="starlalu" style="margin-left: 350px; position: absolute;">In process...</p>
          </div>
          
          <div class="orderedItemsPrice">
            <% function calculateTotalPrice(item) {
              let totalPrice = 0;
              item.cartItems.forEach(cartItem => {
                totalPrice += cartItem.totalPrice;
              });
              return totalPrice;
            } %>
            <p class="starlaluprice">
              ₱<%= calculateTotalPrice(orderedItems[i]) + orderedItems[i].region %> (COD)
            </p>
            <div class="vieworderdetails" style="margin-left: 40px;">
              <button onclick="toggleOrderDetails('<%= orderedItems[i]._id %>')">
                <i class='bx bx-chevron-right-circle'></i>
                <p class="viewangdetails" id="viewDetailsButton_<%= orderedItems[i]._id %>">View details</p>
              </button>
            </div>
            </div>
            <div class="cancelorder" style="margin-top: -7px;margin-left: -180px;">
              <button class="cancelOrderButton" data-order-id="<%= orderedItems[i]._id %>">
                <i style="margin-left: -2px; margin-top: 0px; border-radius: 50%;" class='bx bx-x'></i>
                <p class="viewangdetails" style="margin-top: 10px;">Cancel</p>
              </button>
            </div>
          </div>
        </div>
        <div class="orderDropdownDetails" id="orderDropdown_<%= orderedItems[i]._id %>" style="display: none;">
          <br>
          
          <div class="hederer">
            <p style="margin-left: 180px;">Product</p>
            <p style="margin-left: 210px;">|</p>
            <p style="margin-left: 30px;">Type & Quantity</p>
            <p style="margin-left: 28px;">|</p>
            <p style="margin-left: 120px;">Total</p>
          </div>
        
          <% orderedItems[i].cartItems.forEach((cartItem) => { %>
            <% const product = cartItem.product; %>
            
            <div class="items2 cart-item" id="cartItemContainer">
              <label for="addeditem">
                <img class="pictureniya" src="/<%= cartItem.productImage %>">
                <p class="titleNgProduct">
                  <a href="<%= cartItem.productLink %>"><%= cartItem.productName %></a>
                </p>
                <img class="kulayniya" src="/<%= cartItem.selectedOptionImg %>" alt="">
                <p id="bilangngproduct"> X <%= cartItem.quantity %></p>
                <p class="presyoNgProduct" style="margin-left: 780px;">₱ <%= cartItem.totalPrice %></p>
              </label>
            </div>
          <% }) %>
    
          <div class="totalofeverything" style="margin-top: 20px; margin-left: 750px; width: 250px;">
            <div class="totalwithoutshipping">
              <p>₱ <%= calculateTotalPrice(orderedItems[i]) %></p>
            </div>
            <div class="shippingfee">
              <p>Shipping fee:</p>
              <p class="SFee" style="margin-left: 85px;">₱ <%= orderedItems[i].region %></p>
            </div>
            <hr>
            <div class="totalwithshipping">
              <p>Total:</p>
              <p class="ovalltot" style="margin-left: 120px;">₱ <%= calculateTotalPrice(orderedItems[i]) + orderedItems[i].region %></p>
            </div>
          </div>
          <div class="orderItemscontainer" id="orderedItemContainer_<%= orderedItems[i]._id %>" style="width: 1000px;">
            <div class="orderedItems">
              <p class="starlalu"><%= orderedItems[i].name %></p>
              <p><%= orderedItems[i].telno %></p>
              <p>
                <%= orderedItems[i].address %>,
                <% if (orderedItems[i].region === 75) { %>
                  Luzon
                <% } else if (orderedItems[i].region === 100) { %>
                  Visayas
                <% } else if (orderedItems[i].region === 150) { %>
                  Mindanao
                <% } %>.
              </p>
            </div>
            <div class="orderedItemsPrice" style="width: 700px;">
              <% function calculateTotalPrice(item) {
                let totalPrice = 0;
                item.cartItems.forEach(cartItem => {
                  totalPrice += cartItem.totalPrice;
                });
                return totalPrice;
              } %>
              <p class="starlaluprice" style="margin-left: 300px;">
               TOTAL: ₱<%= calculateTotalPrice(orderedItems[i]) + orderedItems[i].region %> (COD)
              </p>
              
            </div>
          </div>
        </div>
        
      <% } %>
    <% } else { %>
      <div class="noItem">
        <p>No orders yet</p>
        <a href="/loggedIn_addtocart/<%= userIdentifier %>">Go to My Cart</a>
      </div>
      <br><br><br><br><br><br><br><br><br>
    <% } %>
    
    <br>
    















      <br><br><br><br><br><br><br><br>
    
    <footer class="footer">
      <div class="footerproducts">
      <p>Products: </p>
      <a href="http://localhost:3000/loggedIn_laptops/<%= userIdentifier %>" style="margin-top: -10px;">Laptops</a>
      <a href="http://localhost:3000/loggedIn_phones/<%= userIdentifier %>">Phones</a>
      <a href="http://localhost:3000/loggedIn_accessories/<%= userIdentifier %>">Accessories</a>
  </div>
  <div class="footercontacts">
    <p>Follow us: </p>
    <div class="contactusfooter">
        <button><a href="https://www.facebook.com/mark.orcullo.1" target="_blank"><i class='bx bxl-facebook-circle'></i></a></button>
        <button><a href="https://www.instagram.com/greasygab/" target="_blank"><i class='bx bxl-instagram' ></i></a></button>
        <button><a href="/loggedIn_contacts/<%= userIdentifier %>"><i class='bx bxl-gmail' target="_blank"></i></a></button>
    </div>
</div>

  <div class="footeroffice">
      <p style="font-size:25px;">Office: </p>
      <p style="font-size:18px; margin-top: -20px;">Cavite State University Silang Campus</p>
  </div>
  <div class="footerfeatured">
      <p>Featured: </p>
      <div class="featured1">
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490eccc019884d4c285a283">POCO X5 5G</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490f6df019884d4c285a416">IPhone 14 Pro 256gb</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6491054d019884d4c285a6dc">IPhone 14 Pro Max</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fec4d13f16b5b37b5d945">MagSafe</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fe38b61c437f1ab47e01c">POCO F5 Pro</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490f4ff019884d4c285a3c0">MacBook Air 15"</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fe95b13f16b5b37b5d92e">Airpods Max</a>
      </div>
      <div class="featured2">
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490f9c8019884d4c285a48f">MagicMouse</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490faef019884d4c285a4c0">MagicKeyboard</a>
          <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fd9e05e9e8b70a69f3288">POCO F5</a>
      </div>
  </div>
  <div class="footerroutes">
      <p>Routes: </p>
      <a href="http://localhost:3000/loggedIn_home/<%= userIdentifier %>" style="margin-top: -15px;"><i class='bx bxs-home' ></i>Home</a>
      <a href="http://localhost:3000/loggedIn_shop/<%= userIdentifier %>"><i class='bx bx-shopping-bag' ></i>Shop</a>
      <a href="http://localhost:3000/loggedIn_contacts/<%= userIdentifier %>"><i class='bx bxs-contact' ></i>Contacts</a>
  <a href="http://localhost:3000/loggedIn_track/<%= userIdentifier %>"><i class='bx bx-info-circle' ></i>Track</a>
  </div>
  </footer>


      <script src="/js/order.js"></script>
      <script src="/js/server.js"></script>
</body>

</html>