<!DOCTYPE html>
<html>

<head>
    <title>E-TECH-track</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@600&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
</head>

<body class="body" style="background-image: url('/images/business2.jpg');">
    <header class="center">
        <img alt="logo" src="/images/logo.png" height="150px" width="200px">
        <nav class="navbar">
            <a href="/loggedIn_home/<%= userIdentifier %>">HOME</a>
            <a href="/loggedIn_shop/<%= userIdentifier %>">SHOP</a>
            <a href="/loggedIn_contacts/<%= userIdentifier %>">CONTACTS</a>
            <a href="/loggedIn_track/<%= userIdentifier %>">TRACK</a>
        </nav>

        <form action="/loggedIn_search/<%= userIdentifier %>" method="GET">
            <div class="field-group" style="margin-top: 18px;">
                <input type="search" placeholder="Search here" name="query">
                <button type="submit" style="border: none; background-color: white;">
                <div class="searchicon">
                    <i class='bx bx-search'></i>
                    </div>
                </button>
            </div>
        </form>
        
        <button class="btnCart-popup" onclick="window.location.href = '/loggedIn_addtocart/<%= userIdentifier %>';">
            <div class="carticon">
                <i class='bx bx-cart'></i>
            </div>
        </button>
        <button class="btnLogin-popup" onclick="toggleDropDown()">
            <div class="usericon">
                <i class='bx bx-user-circle'></i>
                <p><%= username %></p>
            </div>
        </button>
    </header>
    <div class="drop-down" id="drop-down" style="margin-top: -70px; margin-left: 900px;">
        <a href="/loggedIn_orders/<%= userIdentifier %>">
          <div class="view-profile">
            <p>My Purchase <i class='bx bx-user'></i></p>
          </div>
        </a>
        <a href="/logouttrack">
          <div class="logout">
            <p>Logout <i class='bx bx-power-off'></i></p>
          </div>
        </a>
      </div>
        <hr>
   
    
    
    

    <div class="ordertrack">
        <p>TRACK YOUR ORDER HERE:</p>
        <form action="/loggedIn_track/<%= userIdentifier %>" method="get">
            <input type="text" name="orderId" id="orderIdInput" pattern="[A-Za-z0-9]{24}" maxlength="24" placeholder="Enter 24 Characters Order ID" required>
            <button type="submit">TRACK</button>
          </form>
          
          
          
          
                 
    </div>
    <br>
    <hr>
    <% if (typeof matchedOrder !== 'undefined' && matchedOrder) { %>
        <div class="orderItemscontainer" id="orderedItemContainer_<%= matchedOrder._id %>" style="width: 900px;margin-left: 55px;">
          <div class="orderedItems" style="display: flex; align-items: center;">
            <p class="starlalu" style="margin-left: 30px;"><%= matchedOrder._id %></p>
                <p class="starlalu" style="margin-left: 400px; position: absolute;">In process...</p>
            </div>
            
            <div class="orderedItemsPrice">
                <% function calculateTotalPrice(item) {
                    let totalPrice = 0;
                    item.cartItems.forEach(cartItem => {
                        totalPrice += cartItem.totalPrice;
                    });
                    return totalPrice;
                } %>
                <p class="starlaluprice" style="margin-left: 300px;">
                    ₱<%= calculateTotalPrice(matchedOrder) + matchedOrder.region %> (COD)
                </p>
                
            </div>
            
            
        </div>
    <% } else { %>
        <p style="text-align: center; font-size: 30px;">No matching order found.</p>
    <% } %>






    <footer class="footer" style="margin-top: 250px;">
        <div class="footerproducts">
        <p>Products: </p>
        <a href="http://localhost:3000/loggedIn_laptops/<%= userIdentifier %>" style="margin-top: -10px;">Laptops</a>
        <a href="http://localhost:3000/loggedIn_phones/<%= userIdentifier %>">Phones</a>
        <a href="http://localhost:3000/loggedIn_accessories/<%= userIdentifier %>">Accessories</a>
    </div>
    <div class="footercontacts">
        <p>Follow us: </p>
        <div class="contactusfooter">
            <button><a href="https://www.facebook.com/mark.orcullo.1" target="_blank"><i class='bx bxl-facebook-circle'></i></a></button>
            <button><a href="https://www.instagram.com/greasygab/" target="_blank"><i class='bx bxl-instagram' ></i></a></button>
            <button><a href="/loggedIn_contacts/<%= userIdentifier %>"><i class='bx bxl-gmail' target="_blank"></i></a></button>
        </div>
    </div>

    <div class="footeroffice">
        <p style="font-size:25px;">Office: </p>
        <p style="font-size:18px; margin-top: -20px;">Cavite State University Silang Campus</p>
    </div>
    <div class="footerfeatured">
        <p>Featured: </p>
        <div class="featured1">
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490eccc019884d4c285a283">POCO X5 5G</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490f6df019884d4c285a416">IPhone 14 Pro 256gb</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6491054d019884d4c285a6dc">IPhone 14 Pro Max</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fec4d13f16b5b37b5d945">MagSafe</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fe38b61c437f1ab47e01c">POCO F5 Pro</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490f4ff019884d4c285a3c0">MacBook Air 15"</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fe95b13f16b5b37b5d92e">Airpods Max</a>
        </div>
        <div class="featured2">
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490f9c8019884d4c285a48f">MagicMouse</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/6490faef019884d4c285a4c0">MagicKeyboard</a>
            <a href="http://localhost:3000/loggedIn_prod1/<%= userIdentifier %>/648fd9e05e9e8b70a69f3288">POCO F5</a>
        </div>
    </div>
    <div class="footerroutes">
        <p>Routes: </p>
        <a href="http://localhost:3000/loggedIn_home/<%= userIdentifier %>" style="margin-top: -15px;"><i class='bx bxs-home' ></i>Home</a>
        <a href="http://localhost:3000/loggedIn_shop/<%= userIdentifier %>"><i class='bx bx-shopping-bag' ></i>Shop</a>
        <a href="http://localhost:3000/loggedIn_contacts/<%= userIdentifier %>"><i class='bx bxs-contact' ></i>Contacts</a>
  <a href="http://localhost:3000/loggedIn_track/<%= userIdentifier %>"><i class='bx bx-info-circle' ></i>Track</a>
    </div>
    </footer>




    <script src="js/server.js"></script>
    <script src="js/track.js"></script>
    <script>function toggleDropDown() {
        const dropdown = document.getElementById("drop-down");
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
    }</script>

    
</body>

</html>